@mixin input-style {
  background-color: transparent;
  color: var(--color);
  border-color: #a9d134;
}

$green-6: #a9d134;
$green-7: #a9d134;
$green-10: #f0fab5;
$green-1: #1f2611;
$green-3: #3e4f13;
$green-5: #6f9412; 
$gray: #969a8a

